<% include ../partials/header %>
    <div class = "container pt-5">
        <div class="row">
            <div class="col-md-3">
                <p>BeachCamp</p>
                <ul class="list-group">
                  <li class="list-group-item active">Category 1</li>
                  <li class="list-group-item">Category 2</li>
                  <li class="list-group-item">Category 3</li>
                </ul>
            </div>
            <div class="col-lg-9">
                <div class="card show m-0">
                    <img class="card-img-top" src="<%= beach.image.split('?')[0] %>" alt="Card image cap">
                    <div class="card-body p-3">
                      <a href="#"><h4 class=""><%= beach.name %></h4></a>
                      <p class="card-text"><%=beach.desc%></p>
                      <p class="card-text">
                          <em>Submitted by</em><strong> <%=beach.author.username%></strong>
                          <br>
                          <em><%=beach.created.toLocaleDateString(`en-US`, {year: 'numeric', month: 'long', day: 'numeric'})%></em>
                      </p>
                      <% if (currentUser && beach.author.id.equals(currentUser._id)) { %>
                          <a href="/beaches/<%=beach._id%>/edit" class="btn btn-warning">Edit</a>
                          <form action="/beaches/<%=beach._id%>?_method=DELETE" method="POST" class="d-inline">
                              <button class="btn btn-danger">Delete</button>
                          </form>
                      <% } %>
                      
                    </div>
                </div>
                <div class="card comments mt-3">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <a class="btn btn-primary float-right" href="/beaches/<%=beach._id%>/comments/new">Leave a Comment</a>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <% beach.comments.forEach(comment => { %>
                                <div class="col-md-12 float-none">
                                    <span class="float-right"><%=comment.created.toLocaleDateString(`en-US`, {year: 'numeric', month: 'long', day: 'numeric'})%></span>
                                    <h6 class="mb-1"><strong><%=comment.author.username %></strong></h6>
                                    <p class="mb-0"><%= comment.text %></p>
                                    <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                                        <a class="btn btn-sm btn-warning" href="/beaches/<%=beach._id%>/comments/<%=comment._id%>/edit">Edit</a>
                                        <form action="/beaches/<%=beach._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST" class="d-inline">
                                          <button class="btn btn-sm ml-1 btn-danger">Delete</button>
                                        </form>
                                    <% } %>
                                </div>
                            <% }) %>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    
<% include ../partials/footer %>